name: Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go_version: ['1.20', '1.21']
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:

    - name: Check out code into the Go module directory
      uses: actions/checkout@v3

    - name: Set up Go ${{ matrix.go_version }}
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go_version }}
        check-latest: true
        cache: true

    - name: Get dependencies
      run: |
        go mod download

    - name: Build
      run: go build -v ./...

    - name: Test
      shell: bash
      run: |
        if [[ "${GITHUB_TOKEN}" != "" ]]; then
          go test -v -race -coverprofile=coverage.txt . ./update
        else
          go test -v -race -short -coverprofile=coverage.txt . ./update
        fi

    - name: Code coverage with codecov
      uses: codecov/codecov-action@v3
